:root {
  --main-body-color: #fff;
  --main-header-bg-size: 100% 900px;
  --main-header-img: url("../images/Rectangle.webp");
  --main-header-img-oval: url("../images/oval.webp");
  --main-title: #211f25;
  --main-text: #3d3a41;
  --main-box-hover-bg: #f7f5ff;
  --main-box-hover-a: #ff007a;
  --main-time: #000;
  --main-protection-bg: #fcfbff;
  --main-card-bg: #f7f5ff;
  --main-trial-bg: #6b50ff;
  --main-news-bg: #f4fbff;
  --main-news-card-hover: #cde3ef;
  --main-vector-dark: url("../images/Vector.svg");
  --footer-bg: #211f25;
  --main-mobile-burgerbtn: #7E35EB;
}

.dark {
  --main-body-color: #000;
  --main-header-bg-size: 100% 1200px;
  --main-header-img: url("../images/rectangle-dark.webp");
  --main-header-img-oval: none;
  --main-title: #fff;
  --main-text: #d6d6d6;
  --main-box-hover-bg: #211f25;
  --main-box-hover-a: #ff94c7;
  --main-time: #d6d6d6;
  --main-protection-bg: #211f25;
  --main-card-bg: #555555;
  --main-trial-bg: linear-gradient(72.67deg, #1a1822 2.78%, #9040e3 173.27%),
    #6b50ff;
  --main-news-bg: #211f25;
  --main-news-card-hover: #232028;
  --main-vector-dark: url("../images/Vector-dark.svg");
  --footer-bg: #000;
  --main-mobile-burgerbtn: #1A1823;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-ExtraBold.woff2") format("woff2"), url("../fonts/Nunito-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-SemiBold.woff2") format("woff2"), url("../fonts/Nunito-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Nunito";
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background-color: var(--main-body-color);
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.site-header {
  background-image: url("../images/header-bgimg.webp"), var(--main-header-img), var(--main-header-img-oval);
  background-repeat: no-repeat;
  background-position: calc(50% + 10px) calc(50% - 513px), 50% calc(50% - 513px), 50% calc(50% - 10px);
  background-size: auto, var(--main-header-bg-size), 100% 130px;
}

.site-header-top {
  padding: 50px 0;
}

.btn-mode {
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}

.navbar__link {
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}

.navbar__link:hover {
  border-bottom: 1px solid #fff;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  opacity: 0.5;
}

.site-header-hero__inner {
  padding-bottom: 882px;
  background-image: url("../images/macbook.webp");
  background-repeat: no-repeat;
  background-size: 978px 579px;
  background-position: 50% calc(50% + 25px);
}

.site-header-hero {
  padding-top: 100px;
}

.site-header-hero__content {
  width: 100%;
  max-width: 737px;
}

.site-header-hero__desc {
  width: 100%;
  max-width: 471px;
}

.site-header-hero__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 800;
  font-size: 56px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.site-header-hero__text {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 18px;
  line-height: 155%;
  letter-spacing: 0.01em;
}

.site-header-hero__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.01em;
  width: 187px;
}

.site-header-hero__link1 {
  margin-right: 33px;
  padding: 17.5px 0;
  background-color: var(--main-box-hover-a);
  border: 1px solid transparent;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.0509803922);
}

.site-header-hero__link2 {
  padding: 12px 0;
}

.site-header-hero__link2::after {
  display: inline-block;
  margin-left: 16px;
  width: 36px;
  height: 36px;
  background-image: url("../images/btn-video.svg");
  background-repeat: no-repeat;
  content: "";
}

.site-header__burger-btn {
  display: none;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5019607843);
}

.overlay-show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modals {
  position: relative;
  background-color: #ffffff;
  width: 1280px;
  height: 617px;
  border-radius: 8px;
}

.close-btn {
  position: absolute;
  right: 0;
  top: -30px;
  padding: 2px 5px;
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
}

.overlay-m {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--main-mobile-burgerbtn);
  overflow-x: hidden;
  transition: 0.5s;
}

.overley-link {
  position: absolute;
  top: 10px;
  left: 10px;
}

.overlay--show {
  width: 100%;
}

.overlay-content-m {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.overlay-content-m a {
  color: white;
}

.close-btn-m {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: transparent;
  border-radius: 50%;
  color: #fff;
}

@media only screen and (max-width: 576px) {
  .site-header {
    padding-bottom: 400px;
  }
  .site-header-hero {
    padding-top: 30px;
  }
  .site-header__link {
    left: 180px;
  }
  .navbar {
    display: none;
  }
  .site-header-hero__title {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 42px;
  }
  .site-header-hero__link {
    display: block;
    margin: 0 auto;
    width: 320px;
  }
  .site-header-hero__link1 {
    bottom: -60px;
  }
  .site-header-hero__link2 {
    top: -70px;
  }
  .site-header-hero__inner {
    padding-bottom: 300px;
    background-image: url("../images/macbook-mobile.webp");
    background-repeat: no-repeat;
    background-size: 343px 200px;
    background-position: 50% calc(50% + 150px);
  }
  .site-header__btn {
    margin: 0;
    left: -150px;
  }
  .site-header__burger-btn {
    display: block;
    left: 200px;
  }
  .modals {
    width: 343px;
    height: 283px;
  }
  .overlay-iframe {
    width: 343px;
    height: 283px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .site-header {
    background-image: url("../images/header-bgimg@2x.webp");
  }
  .site-header-hero__inner {
    background-image: url("../images/macbook@2x.webp");
  }
}
.software {
  padding-bottom: 100px;
}

.software__content {
  margin-bottom: 80px;
  width: 100%;
  max-width: 575px;
}

.software__title {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.software__text {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.01em;
  color: var(--main-text);
}

.box {
  padding: 24px;
  background-color: transparent;
}

.box:hover {
  background-color: var(--main-box-hover-bg);
}

.box:hover a {
  color: var(--main-box-hover-a);
}

.img2 {
  margin-bottom: 15px;
}

.card-title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.card-text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.card-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-title);
}

@media only screen and (max-width: 576px) {
  .software__content {
    width: 333px;
    margin-bottom: 30px;
  }
  .software__title {
    font-size: 36px;
    line-height: 42px;
  }
}
.protection-top {
  padding: 100px 0;
  background-color: var(--main-protection-bg);
}

.protection__content {
  padding: 72px 0;
  width: 100%;
  max-width: 620px;
}

.protection-img1 {
  right: 340px;
  bottom: -80px;
  z-index: 10;
}

.protection-img2 {
  left: 340px;
  bottom: -80px;
  z-index: 10;
}

.protection-middle {
  padding: 100px 0;
}

.protection__heading {
  width: 100%;
  max-width: 554px;
}

.protection__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.protection__text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.protection__link {
  width: 187px;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.01em;
  color: var(--main-box-hover-a);
  border: 1px solid var(--main-box-hover-a);
  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

@media only screen and (max-width: 576px) {
  .protetion-image1 {
    top: -300px;
    left: -200px;
    width: 332px;
    height: 352px;
  }
  .protection-img1 {
    top: 150px;
    left: 0;
    width: 188px;
    height: 188px;
  }
  .protetion-image2 {
    top: -300px;
    left: -200px;
    width: 343px;
    height: 240px;
  }
  .protection-img2 {
    top: 150px;
    left: 150px;
    width: 188px;
    height: 188px;
  }
  .protection__content {
    width: 343px;
    left: 100px;
    margin: 0 auto;
    padding-top: 322px;
    text-align: center;
  }
}
.customer {
  padding: 100px 0;
  background-color: var(--main-protection-bg);
}

.customer__content {
  margin-bottom: 80px;
}

.customer__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.customer__text {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.card-box {
  padding: 30px;
  background: var(--main-card-bg);
  border: 0.96024px solid transparent;
  border-radius: 8px;
}

.card-box:hover {
  border: 0.96024px solid #ff007a;
}

.card-body {
  margin-top: 30px;
}

.card__content--box {
  width: 166px;
  margin-left: 15px;
}

.card__content::before {
  display: inline-flex;
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  content: "";
}

.card__content1::before {
  background-image: url("../images/brooklyn-simmons.webp");
}

.card__content2::before {
  background-image: url("../images/darrell-steward.webp");
}

.card__content3::before {
  background-image: url("../images/courtney-henry.webp");
}

.card__content--title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.card__content--text {
  font-family: "Roboto";
  font-size: 15.3638px;
  line-height: 150%;
  color: var(--main-text);
}

@media only screen and (max-width: 576px) {
  .customer__title {
    font-size: 36px;
    line-height: 36px;
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .card__content1::before {
    background-image: url("../images/brooklyn-simmons@2x.webp");
  }
  .card__content2::before {
    background-image: url("../images/darrell-steward@2x.webp");
  }
  .card__content3::before {
    background-image: url("../images/courtney-henry@2x.webp");
  }
}
.pricing {
  padding: 100px 0;
}

.pricing__content {
  margin-bottom: 80px;
}

.pricing__heading {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.pricing__text {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.pricing__item {
  padding: 31px;
  width: 100%;
  max-width: 405px;
  border: 0.97561px solid transparent;
}

.pricing-item:hover {
  border: 0.97561px solid var(--main-box-hover-a);
  border-radius: 8px;
}

.pricing-item:hover a {
  border: 1px solid transparent;
  background: #ff007a;
  color: #fff;
}

.pricing__title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.pricing__ins {
  font-weight: 800;
  font-size: 28px;
  line-height: 120%;
  color: var(--main-title);
}

.pricing__ins-light {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.pricing-item__item {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.pricing-item__item::before {
  display: inline-flex;
  align-items: center;
  margin-right: 16px;
  width: 23px;
  height: 23px;
  background-image: url("../images/Vectors.svg");
  background-repeat: no-repeat;
  content: "";
}

.pricing__link {
  width: 342px;
  color: var(--main-box-hover-a);
  border: 1px solid var(--main-box-hover-a);
  border-radius: 32px;
}

@media only screen and (max-width: 576px) {
  .pricing__content {
    width: 333px;
  }
  .pricing__list {
    flex-direction: column;
  }
}
.trial {
  padding: 112px 0;
  background: var(--main-trial-bg);
}

.trial__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
}

.trial__text {
  margin-bottom: 44px;
  font-size: 18px;
  line-height: 150%;
}

.trial__input {
  padding: 12px 24px;
  width: 365px;
}

.trial__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #505050;
}

.trial__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #505050;
}

.trial__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #505050;
}

.trial__btn {
  width: 127px;
  padding: 0 32px;
  background: var(--main-box-hover-a);
}

.trial__small {
  margin-top: 20px;
}

@media only screen and (max-width: 576px) {
  .trial__title {
    font-size: 38px;
  }
}
.news {
  padding: 120px 0;
  background-color: var(--main-news-bg);
}

.news__content {
  margin-bottom: 80px;
}

.news__card {
  width: 100%;
  max-width: 405px;
  background-color: transparent;
}

.news__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.news__text {
  font-size: 17.7778px;
  line-height: 150%;
  color: var(--main-text);
}

.news__link {
  font-size: 15.8025px;
  line-height: 150%;
  color: var(--main-box-hover-a);
  border: 1px solid var(--main-box-hover-a);
}

.news-card-title {
  font-weight: 600;
  font-size: 23.4146px;
  line-height: 140%;
  color: var(--main-title);
}

.news-card-text {
  margin-bottom: 31px;
  font-size: 15.6098px;
  line-height: 150%;
  color: var(--main-text);
}

.news-small {
  padding: 4px 8px;
  font-weight: 600;
  font-size: 13.6585px;
  line-height: 150%;
  color: var(--main-title);
  background-color: var(--main-news-bg);
}

.news-time {
  font-weight: 600;
  font-size: 13.6585px;
  line-height: 150%;
  color: var(--main-text);
}

.news-card__link {
  display: inline-flex;
  align-items: center;
  font-size: 15.6098px;
  line-height: 150%;
  color: var(--main-box-hover-a);
}

.news-card__link::after {
  margin-left: 8px;
  width: 15px;
  height: 15px;
  background-image: var(--main-vector-dark);
  background-repeat: no-repeat;
  content: "";
  background-position: top 2px center;
}

.news__card:hover {
  background: var(--main-card-bg);
  box-shadow: 0px 4px 14px var(--main-news-card-hover);
  border-radius: 8px;
}

.news__card:hover time {
  color: var(--main-time);
}

@media only screen and (max-width: 576px) {
  .news__link {
    display: none;
  }
}
.site-footer {
  padding: 100px 0;
  background-color: var(--footer-bg);
}

.site-footer__wrapper {
  padding-bottom: 80px;
}

@media only screen and (max-width: 576px) {
  .site-footer__wrapper {
    flex-direction: column;
  }
  .site-footer__bottom {
    flex-direction: column;
  }
}/*# sourceMappingURL=main.css.map */