.customer {
  padding: 100px 0;
  background-color: var(--main-protection-bg);
}

.customer__content {
  margin-bottom: 80px;
}

.customer__title {
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.customer__text {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.card-box {
  padding: 30px;
  background: var(--main-card-bg);
  border: 0.96024px solid transparent;
  border-radius: 8px;
}

.card-box:hover {
  border: 0.96024px solid #ff007a;
}

.card-body {
  margin-top: 30px;
}

.card__content--box {
  width: 166px;
  margin-left: 15px;
}

.card__content::before {
  display: inline-flex;
  width: 54px;
  height: 54px;
  background-repeat: no-repeat;
  content: "";
}

.card__content1::before {
  background-image: url("../images/brooklyn-simmons.webp");
}
.card__content2::before {
  background-image: url("../images/darrell-steward.webp");
}
.card__content3::before {
  background-image: url("../images/courtney-henry.webp");
}

.card__content--title {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.card__content--text {
  font-family: "Roboto";
  font-size: 15.3638px;
  line-height: 150%;
  color: var(--main-text);
}

@media only screen and (max-width: 576px) {
  .customer__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (min--moz-device-pixel-ratio: 2),
  only screen and (-o-min-device-pixel-ratio: 2/1),
  only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
    .card__content1::before {
      background-image: url("../images/brooklyn-simmons@2x.webp");
    }
    .card__content2::before {
      background-image: url("../images/darrell-steward@2x.webp");
    }
    .card__content3::before {
      background-image: url("../images/courtney-henry@2x.webp");
    }
}