.software {
  padding-bottom: 100px;
}

.software__content {
  margin-bottom: 80px;
  width: 100%;
  max-width: 575px;
}

.software__title {
  margin-bottom: 16px;
  font-size: 48px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.software__text {
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.01em;
  color: var(--main-text);
}

.box {
  padding: 24px;
  background-color: transparent;
}

.box:hover {
  background-color: var(--main-box-hover-bg);
}

.box:hover a {
  color: var(--main-box-hover-a);
}

.img2 {
  margin-bottom: 15px;
}

.card-title {
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: var(--main-title);
}

.card-text {
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-text);
}

.card-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 155%;
  letter-spacing: 0.02em;
  color: var(--main-title);
}

@media only screen and (max-width: 576px) {
  .software__content {
    width: 333px;
    margin-bottom: 30px;
  }
  .software__title {
    font-size: 36px;
    line-height: 42px;
  }
}